num2words @ https://github.com/synesthesiam/prebuilt-apps/releases/download/v1.0/num2words-0.6.0-py3-none-any.whl
gruut[sw]
transformers==4.45.2 
optimum[onnxruntime]
numpy==1.26.4
g2p_id_py
azure-cosmos