num2words @ https://github.com/synesthesiam/prebuilt-apps/releases/download/v1.0/num2words-0.6.0-py3-none-any.whl
transformers==4.45.2 
optimum[onnxruntime]
numpy==1.26.4
azure-cosmos
openai
babygruut @ git+https://github.com/bookbot-hive/babygruut.git@turso_db
g2p_id @ git+https://github.com/bookbot-kids/online_g2p_id.git